<div class= "body-container">
    <div class= "portfolio-container">
    <h2>Hello <%= current_user.username %>!</h2>
      <div class= "user-info"> 
        <div id="wallet-container"><h5>Your Wallet</h5> <h3>P <%= number_with_precision(current_user.balance, precision: 2, delimiter: ',') %><h3></div>
      </div>
      <h1 id="my-portfolio"> My Portfolio </h1>
  
      <div class= "portfolio-cards">
        <% @user_stocks.each do |ustock| %>
          <%= link_to stock_path(ustock.stock) do %>
            <div class="p-card">
              <h5 class="p-card-title"><%= ustock.stock.ticker%></h5>
              <h6 class="p-card-subtitle mb-2 text-muted"><%= ustock.stock.company_name%></h6>
              <p class="p-card-text">Total shares: <%= number_with_delimiter(ustock.total_shares) %></p>
              <p class="p-card-text">Average price: <%= number_with_precision(ustock.average_price, precision: 2) %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>