  <Container>
    <div class="space-y-10 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
      <div class="md:1/3 lg:w-1/3">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
  
        <div class="mb-4">
          <%= f.label :email, class: "block text-white text-sm font-bold mb-2" %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "Enter Email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
  
        <div class="mb-4">
          <%= f.label :firstname, class: "block text-white text-sm font-bold mb-2" %>
          <%= f.text_field :firstname, autocomplete: "firstname", placeholder: "First Name", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
  
        <div class="mb-4">
          <%= f.label :lastname, class: "block text-white text-sm font-bold mb-2" %>
          <%= f.text_field :lastname, autocomplete: "lastname", placeholder: "Last Name", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
  
        <div class="mb-4">
          <%= f.label :username, class: "block text-white text-sm font-bold mb-2" %>
          <%= f.text_field :username, autocomplete: "username", placeholder: "Username", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
  
     <div class="mb-4">
      <%= f.label :role, "Role", class: "block text-white text-sm font-bold mb-2" %>
      <%= f.select :role, ["user", "admin"], {}, { class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "user_role_select" } %>
    </div>
  
    <div id="admin_passcode_container" class="admin-role hidden">
      <%= f.label :admin_passcode, "Admin Passcode", class: "block text-white text-sm font-bold mb-2" %>
      <%= f.text_field :admin_passcode, autocomplete: "off", placeholder: "Enter Admin Passcode", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
        <div class="mb-4">
          <% if @minimum_password_length %>
            <em class="text-sm text-white">(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
  
        <div class="mb-4">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
  
        <div class="mb-4">
          <%= f.submit "Sign up", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>
      <% if flash[:alert].present? %>
    <div class="alert alert-success">
      <%= flash[:alert] %>
    </div>
  <% end %>
  
    <p>Already Have an Account?</p>
    <%- if controller_name != 'sessions' %>
    <%= link_to "Log in", new_session_path(resource_name) %><br />
  <% end %>
        </div>
      <div class="md:7/12 lg:w-1/2">
        <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
          Some text about your journey with us
        </h2>
        <p class="my-8 text-gray-600 dark:text-gray-300">
          Nobis minus voluptatibus pariatur dignissimos libero quaerat iure expedita at?
          Asperiores nemo possimus nesciunt dicta veniam aspernatur quam mollitia. <br> <br> Vitae error, quaerat officia delectus voluptatibus explicabo quo pariatur impedit, at reprehenderit aliquam a ipsum quas voluptatem. Quo pariatur asperiores eum amet.
        </p>

      </div>
    </div>
  </Container>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  const roleSelect = document.getElementById('user_role_select');
  const adminPasscodeContainer = document.getElementById('admin_passcode_container');

  roleSelect.addEventListener('change', function() {
    if (roleSelect.value === 'admin') {
      adminPasscodeContainer.classList.remove('hidden');
    } else {
      adminPasscodeContainer.classList.add('hidden');
    }
  });
});
</script>