<%= form_with model: @stock do |f| %>
  <div>
    <%= f.label :ticker %>
    <br>
    <%= f.text_field :ticker %>
  </div>
  <div>
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </div>
  <div>
    <%= f.label :last_transaction_price %>
    <%= f.number_field :last_transaction_price, step: 0.01, min: 0.01 %>
  </div>
  <div>
    <%= f.label :quantity %>
    <%= f.number_field :quantity, step: 1, min: 1 %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>