<h1>Update Users</h1>
<div class="adding_user_form">
  <div class="container bg-[#34495E] w-full mt-24 p-12 m-auto rounded-lg max-h-full shadow-lg shadow-gray-400">
    <%= form_with(model: @user, url: edit_users_path, method: :post) do |form| %>
       <div class="mb-4">
        <%= form.label :firstname, class: "text-white" %>
        <%= form.text_field :firstname, class: "w-full p-2 rounded-md" %>
      </div>
        <div class="mb-4">
        <%= form.label :lastname, class: "text-white" %>
        <%= form.text_field :lastname, class: "w-full p-2 rounded-md" %>
      </div>

       <div class="field" id="role-container">
        <%= form.label :role, :class => "role-label" %><br />
        <%= form.select :role, ["user", "admin"] %>
      </div>
      
      <div class="mb-4">
        <%= form.label :username, class: "text-white" %>
        <%= form.text_field :username, class: "w-full p-2 rounded-md" %>
      </div>
      <div class="mb-4">
        <%= form.label :email, class: "text-white" %>
        <%= form.email_field :email, class: "w-full p-2 rounded-md" %>
      </div>
      <div class="mb-4">
        <%= form.label :balance, class: "text-white" %>
        <%= form.number_field :balance, class: "w-full p-2 rounded-md" %>
      </div>
      <div class="mb-4">
        <%= form.submit 'Update User', class: "bg-blue-500 text-white px-4 py-2 rounded-md" %>
      </div>
    <% end %>
    <% if flash[:success_updated].present? %>
      <div class="display-notice text-green-500">
        <%= flash[:success_updated] %>
      </div>
    <% end %>
    <div class="errors text-white">
      <% if flash[:error_update].present? %>
        <% flash[:error_update].each do |error| %>
          <p><%= error %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
