
<% if @user && @user.role == 'user'  %>
<% else %>
 <% @users = User.approved.where.not(role: 'admin') %>
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <h1>APPROVED USERS</h1>
      <thead>
        <tr>
          <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Username
          </th>
          <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Email
          </th>
          <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Balance
          </th>
          <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Operation
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @users.each do |user| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <%= user.username %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <%= user.email %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <%= user.balance %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
             <%= link_to 'Edit', edit_users_url(user)%>
             <%= link_to "Delete", delete_user_path(user), data: { turbo_method: :patch, turbo_confirm: 'Are you sure?' }, class: 'text-red-500 mr-2' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<h1>Pending Users</h1>
<div class="admin-cont">
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Username
          </th>
          <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Email
          </th>
          <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Status
          </th>
          <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @users = User.application_pending %>
        <% @users.each do |user| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <%= user.username %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <%= user.email %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <%= user.broker_status %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <%= user.confirmation_token %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
               <%= link_to "Approve", approve_user_path(user), data: { turbo_method: :patch, turbo_confirm: 'Are you sure?' }, class: 'text-red-500 mr-2' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
