<% if current_user %>
  <% if current_user.pending_approval? && current_user.role == "user" %>
    <div class="alert alert-warning">
      Your account is not yet confirmed. Please wait for approval.
    </div>
    <%= link_to 'Sign Out', destroy_user_session_path, 'data-turbo-method': :delete %>
  <% elsif current_user.username? && current_user.role == "user" %>
    <p>Hello <%= current_user.username %></p>
    <p>Balance: <%= current_user.balance %></p>
    <p>Account: <%= current_user.role %></p>
    <%= link_to 'Sign Out', destroy_user_session_path, 'data-turbo-method': :delete %>
  <% end %>
<% else %>
  <p>YOU ARE NOT SIGNED IN</p>
  <%= link_to 'Sign Up!', new_user_registration_path %>
  <%= link_to 'Sign In!', new_user_session_path %>
<% end %>

<% if current_user && current_user.role == "admin" %>
  <p>Hello <%= current_user.username %></p>
  <p class="mb-10">Account: <%= current_user.role %></p>
  <%= link_to 'Sign Out', destroy_user_session_path, 'data-turbo-method': :delete, class: 'bg-black p-3 rounded-lg text-white' %>
  <div class="add_user mt-10">
    <button><%= link_to 'Add User', create_new_user_path, class: 'bg-black p-3 rounded-lg text-white' %></button>
  </div>
  <%= render 'admin_page' %>
<% end %>

