<h1>Transaction History</h1>

<table>
  <thead>
    <tr>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @transaction_records.each do |transaction| %>
      <tr>
        <td><%= transaction.stock.ticker %>
        <td><%= transaction.stock.company_name %>
        <td><%= number_with_precision(transaction.price, precision: 2) %>
        <td><%= number_with_delimiter(transaction.quantity) %>
        <td><%= transaction.created_at %>
      </tr>
    <% end %>
  </tbody>
</table>