<div class="max-w-md mx-auto bg-[#0288D1] p-10 rounded-lg shadow-lg shadow-gray-500 mt-24 w-[90%] ">
  <h2 class="text-2xl font-bold mb-4">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "" }) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="">
      <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-6">
        <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
        <%= f.label :remember_me, class: "text-sm" %>
      </div>
    <% end %>
    
    <div class="">
      <%= f.submit "Log in", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
   
   <div class="">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>
   </div>

  <% end %>


<% if flash.now[:alert] %>
  <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
    <%= flash.now[:alert] %>
  </div>
<% end %>
 <div class="mt-10 text-center">
   <p>Dont Have an Account?</p>
   <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="text-cyan-500">  <%= link_to "Sign up", new_registration_path(resource_name) %></div>
<% end %>
 </div>
</div>
