<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a><%= link_to 'StockUp', dashboard_path, class: 'navbar-brand' %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Dashboard', dashboard_path, class: 'nav-link active' %>
          </li>
          <li class="nav-item">
          <%= link_to 'Stock Market', stocks_path, class: 'nav-link active' %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Edit Account', edit_user_registration_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Transaction History', transactions_path, class: 'dropdown-item' %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
              <% if can? :create, Stock %>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Add Company Stocks', new_stock_path, class: 'dropdown-item' %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>