<header>
  <nav class="absolute z-10 w-full border-b border-black/5 dark:border-white/5 lg:border-transparent">
      <Container>
          <div class="relative flex flex-wrap items-center justify-between gap-6 py-3 md:gap-0 md:py-4">
              <div class="relative z-20 flex w-full justify-between md:px-0 lg:w-max">
                  <a href="/#home" aria-label="logo" class="flex items-center space-x-2">
                      <div aria-hidden="true" class="flex space-x-1">
                          <div class="h-6 w-2 bg-primary"></div>
                      </div>
                          <%= link_to 'StockR', root_path, class: 'text-2xl font-bold text-gray-900 dark:text-white' %>
                  </a>

                  <div class="relative flex max-h-10 items-center lg:hidden">
                      <button aria-label="humburger" id="hamburger" class="relative -mr-6 p-6">
                          <div aria-hidden="true" id="line" class="m-auto h-0.5 w-5 rounded bg-sky-900 transition duration-300 dark:bg-gray-300"></div>
                          <div aria-hidden="true" id="line2" class="m-auto mt-2 h-0.5 w-5 rounded bg-sky-900 transition duration-300 dark:bg-gray-300"></div>
                      </button>
                  </div>
              </div>
              <div id="navLayer" aria-hidden="true" class="fixed inset-0 z-10 h-screen w-screen origin-bottom scale-y-0 bg-white/70 backdrop-blur-2xl transition duration-500 dark:bg-gray-900/70 lg:hidden"></div>
              <div id="navlinks" class="invisible absolute top-full z-20 w-full origin-top-right translate-y-1 scale-90 flex-col flex-wrap justify-end gap-6 rounded-3xl border border-gray-100 bg-white p-8 opacity-0 shadow-2xl shadow-gray-600/10 transition-all duration-300 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none lg:visible lg:relative lg:flex lg:w-2/5 lg:translate-y-0 lg:scale-100 lg:flex-row lg:items-center lg:gap-0 lg:border-none lg:bg-transparent lg:p-0 lg:opacity-100 lg:shadow-none">
                  <div class="w-full text-gray-600 dark:text-gray-200 lg:w-full lg:pr-4 lg:pt-0">
                      <ul class="flex flex-col gap-6 tracking-wide lg:flex-row lg:gap-0 lg:text-sm">
                                  <li>
                                    <%= link_to 'Dashboard', dashboard_path, class: 'hover:text-primary block transition dark:hover:text-white md:px-4' %>
                                  </li>
                                  <li>
                                    <%= link_to 'Stock Market', stocks_path, class: 'hover:text-primary block transition dark:hover:text-white md:px-4' %>
                                  </li>
                                  <% if current_user && current_user.role == "admin" %>
                                    <li>User Management</li>
                                  <% end %>
                                  <% if current_user %>
                                    <li>
                                      <%= link_to 'Transactions', transactions_path, class: 'hover:text-primary block transition dark:hover:text-white md:px-4' %>
                                    </li>

                                    <li>
                                      <%= link_to 'Edit Account', edit_user_registration_path, class: 'hover:text-primary block transition dark:hover:text-white md:px-4' %>
                                    </li>

                                    <li>
                                      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'hover:text-primary block transition dark:hover:text-white md:px-4' %>
                                    </li>
                                    <% else %>
                                    <li>
                                      <%= link_to 'Login', new_user_session_path, class: 'hover:text-primary block transition dark:hover:text-white md:px-4' %>
                                    </li>
                                    <li>
                                      <%= link_to 'Sign Up', new_user_registration_path, class: 'mt-auto flex justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' %>
                                    </li>  
                                  <% end %>
                      </ul>
                  </div>


              </div>
          </div>
      </Container>
  </nav>
</header>
  
  
  
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'Edit Account', edit_user_registration_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Transaction History', transactions_path, class: 'dropdown-item' %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
              <% if can? :create, Stock %>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Add Company Stocks', new_stock_path, class: 'dropdown-item' %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->